.submit_form {
  background-color: rgb(136, 176, 202);
  width: 20rem;
  height: 2.5rem;
  margin-top: 3vh;
  border-radius: 5px;
}
.submit_form:hover {
  background-color: rgb(94, 164, 211);
}
.logo {
  margin-bottom: 2vh;
}
.hamburger-menu {
  height: 3rem;
  margin-right: 1rem;
}
.logo-img {
  /* border-radius: 0.5rem; */
  /* margin-bottom: 30px;
  height: 80px; */
  /* height: 13rem; */
  margin-bottom: 30px;
  height: 106px;
  width: 20rem;
  border-radius: 0.5rem;
}
.room_wraper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  position: sticky;
  max-height: 90%;
}
input {
  border: none;
}
.room_form {
  /* background-color: rgb(32, 33, 32);
  padding: 4rem;
  border-radius: 10px; */

  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  /* width: 400px; */
  max-width: 90%;
}

.editor_container {
  /* display: flex; */
  /* flex-direction: row; */
  display: grid;
  grid-template-columns: 230px 1fr;
  /* height: 100vh; */
}
.side_block {
  background-color: rgb(32, 33, 32);
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 15px;
  line-height: 1.6;
  padding-top: 20px;
} */
.output-status {
  font-size: 1.2rem;
  font-weight: 700;
}
.CodeMirror {
  min-height: calc(35.5rem);
  font-size: 17px;
  line-height: 1.6;
  padding-top: 20px;
  width: calc(100vh - 20px);
  height: 22rem;
  /* height: 23rem; */
  /* overflow: auto; */
  grid-area: code-mirror;
}

.side_inner {
  /* margin: 1rem; */
  flex: 1;
}
.clients {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
/* .leave-room {
  height: 0;
} */
.connected {
  margin-top: 1vh;
  font-weight: 800;
  color: aqua;
}

.create-room-btn {
  color: rgb(251, 255, 0);
  cursor: pointer;
  text-decoration: underline;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.heading-create-room {
  color: aliceblue;
  margin-top: 2vh;
  margin-bottom: 1vh;
}
/* .leave-room {
  display: flex;
  color: aliceblue;
  align-items: center;
} */
.leave-room-btn {
  cursor: pointer;
  padding: 2vh;
  margin: 4vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
}

.heading-enter-room {
  color: aliceblue;
  margin-bottom: 1vh;
}
.heading-enter-name {
  color: aliceblue;
  margin-bottom: 1vh;
}

/*  */
.main-editor {
}
.main_editor {
  display: flex;
  flex-direction: row;
}

.inputBox {
  /* height: 3rem;
  width: 20rem;
  border-radius: 10px; */
  background: #eee;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
  outline: none;
  padding: 10px;
}

.input_here {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

/* top editor */

/* ----------------------------------------------------------------- */

.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #252732;
  padding: 20px;
  border-radius: 10px;
  width: 315px;
  max-width: 90%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 92px;
  width: inherit;
  margin-bottom: 30px;
  border-radius: 8px;
}
.codepair-img {
  height: 20rem;
  width: 30rem;
  margin: 5rem;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #6272a4;
  width: inherit;
  color: whitesmoke;
  /* margin-left: auto; */
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #4262c3;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #00ccc8;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
  cursor: pointer;
}

.mainWrap {
  display: grid;
  /* grid-template-columns: 230px 1fr; */
  grid-template-areas:
    "aside aside outer outer outer outer"
    "aside aside outer outer outer outer";
}

.hide-pannel {
  display: none;
}
.outer-outer {
  display: flex;
  flex-direction: column;
  /* max-width: fit-content; */
  width: 100%;
  grid-area: outer;
  grid-template-areas:
    "editor-area editor-area editor-area editor-area editor-area editor-area"
    "outer-area outer-area outer-area outer-area outer-area outer-area";
}
.outer {
  display: flex;
  grid-area: outer-area;
  grid-template-areas:
    "code-mirror code-mirror code-mirror bottom-editor bottom-editor bottom-editor"
    "code-mirror code-mirror code-mirror bottom-editor bottom-editor bottom-editor";
}
.aside {
  grid-area: aside;
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 38rem;
}

.bottom-editor {
  color: rgb(4, 4, 4);
  /* width: calc(100vh - 10px); */
  width: 37rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  height: 36.6rem;
  /* overflow: scroll; */
  overflow: auto;
  grid-area: bottom-editor;
  margin-left: 0.5rem;
  background: #f5f5f5;
}
.console-output {
  box-shadow: 0 3px 3px 0px rgb(0 0 0 / 8%);
  padding-bottom: 22px;
  padding-right: 12px;
  padding-left: 7px;
  position: relative;
  font-weight: 900;
}
.hidden-aside {
  display: flex;
  border: 2px solid red;
}
.hidden-asideInner {
  flex: 1;
}
.hidden-clientsList {
  display: flex;
  margin-left: 1rem;
  flex-wrap: wrap;

  /* flex-direction: row; */
}

.top-editor {
  margin: 0.3rem;
  display: flex;
  margin-bottom: 5px;
  grid-area: editor-area;
  gap: 20px;
}

#select_lang {
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 2.8rem;
  width: 7rem;
  border-radius: 9px;
  /* background-color: #00ccc8; */
  font-size: 20px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(78, 73, 73);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #232323;
}
/*  */
@media screen and (max-width: 900px) {
  /* .outer-outer {
    width: 50%;
  } */
  .bottom-editor {
    /* background-color: #00ccc8; */
    width: 30rem;
  }
  .hidden-aside {
    width: 30rem;
  }
  .CodeMirror {
    width: calc(30rem);
  }
}
@media screen and (max-width: 19999px) {
  .aside {
    display: flex;
  }
  .hidden-aside {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .outer-outer {
    width: 50%;
  }
  .outer {
    flex-direction: column;
  }
  .aside {
    display: none;
  }
  .hidden-aside {
    /* display: flex; */
    display: none;
  }
  .hide-pannel {
    color: #d7d4f0;
    font-size: 2rem;
    margin-right: 5rem;
    display: block;
  }
  .code-pair-img {
    display: none;
  }
}

/* ==================== */
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}

/* 
.CodeMirror-wrap pre {
  word-break: break-word;
} */
/* 
 */

.submit-code {
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 2.8rem;
  width: 7rem;
  border-radius: 9px;
  background-color: #00ccc8;
  font-size: 20px;
}

/* 
#editor {
  height: 10rem;
} */
